.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* memastikan tinggi minimal sama dengan viewport */
}

main {
  flex: 1 0 auto; /* konten tumbuh dan mendorong footer */
}

footer {
  flex-shrink: 0; /* mencegah footer mengecil */
}
